.h3-card {
  color: #252c38;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.3px;
}

.li-steps {
  color: #252c38;
  font-weight: 400 !important;
  font-size: 1rem;
  letter-spacing: -0.3px;
}