label, input {
  color: black !important;
}



.back-ground-contact {
  background-image: url('./../../../assets/contact.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}